[Unit]
Description=event generator controller
After=rc-local.service

[Service]
ExecStart=/bin/python {{simfiles_dir}}/el737counter.py 62000 > /tmp/generator.log

[Install]
WantedBy=multi-user.target

