{
	"broker-configuration-address":    "{{ broker_configuration_address }}",
	"broker-configuration-topic":      "{{ broker_configuration_topic }}",
	"broker-data-address":             "{{ broker_data_address }}",
	"mappings": [
	  {
	    "type": "chopper",
	    "channel": "cp1",
	    "topic": "chopper1"
	  }
	]
}
