[Unit]
Description=neventGenerator controller
After=rc-local.service

[Service]
ExecStart=/opt/amor/simfiles/el737counter.py /tmp/AMORgenerator.log

[Install]
WantedBy=multi-user.target
